<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </div>  
  </div>
  
  <div class="row">
    <div class="large-12 column text-center">
      <%= link_to 'Atras', entities_path ,class: 'button verde-bg'  %>
      &nbsp;
      <%= f.submit 'Guardar' , class: 'button verde-bg' %>  
    </div>
  </div>
<% end %>
