<%= form_for(@influencestakeholder) do |f| %>
  <% if @influencestakeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@influencestakeholder.errors.count, "error") %> prohibited this influencestakeholder from being saved:</h2>

      <ul>
      <% @influencestakeholder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stakeholder_id %><br>
    <%= f.text_field :stakeholder_id %>
  </div>
  <div class="field">
    <%= f.label :influence_id %><br>
    <%= f.text_field :influence_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
