<p id="notice"><%= notice %></p>

<p>
  <strong>Stakeholder:</strong>
  <%= @influencestakeholder.stakeholder_id %>
</p>

<p>
  <strong>Influence:</strong>
  <%= @influencestakeholder.influence_id %>
</p>

<%= link_to 'Edit', edit_influencestakeholder_path(@influencestakeholder) %> |
<%= link_to 'Back', influencestakeholders_path %>
