<h1>Listing mettings</h1>

<table>
  <thead>
    <tr>
      <th>Tema</th>
      <th>Fecha</th>
      <th>Asistentes</th>
      <th>Resumen</th>
      <th>Stakeholder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mettings.each do |metting| %>
      <tr>
        <td><%= metting.tema %></td>
        <td><%= metting.fecha %></td>
        <td><%= metting.asistentes %></td>
        <td><%= metting.resumen %></td>
        <td><%= metting.stakeholder.nombre %></td>
        <td><%= link_to 'Pdf', '/mettings/'+metting.id.to_s+'.pdf' , target: '_blank'%></td>
        <td><%= link_to 'Edit', edit_metting_path(metting) %></td>
        <td><%= link_to 'Destroy', metting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metting', new_metting_path %>
<br>
<%= link_to 'Pdf', '/mettings.pdf', target: '_blank' %>