<div class="row">
  <div class="large-6 column">
    <h2 class="azul">
      REUNIONES
    </h2>      
  </div>
  <div class="large-6 column text-right">
    <%= link_to (image_tag 'crear_nuevo2.png'), new_metting_path %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to (image_tag 'imprimir2.png'), '/mettings.pdf', target: '_blank' %>
    
  </div>
</div>
<hr class="linea">

<table id="buscar" cellspacing="0" width="100%">
  <thead class="head-tabla">
    <tr>
      <th>Tema</th>
      <th>Fecha</th>
      <th class="hidden-movil-medium-meet">Asistentes</th>
      <th class="hidden-movil-small-meet">Resumen</th>
      <th class="hidden-movil-medium-meet">Stakeholder</th>
      <th>PDF</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @mettings.each do |metting| %>
      <tr>
        <td><%= metting.tema %></td>
        <td><%= metting.fecha %></td>
        <td class="hidden-movil-medium-meet"><%= metting.asistentes %></td>
        <td class="hidden-movil-small-meet"><%= metting.resumen %></td>
        <td class="hidden-movil-medium-meet"><%= metting.stakeholder.nombre %></td>
        <td><%= link_to (image_tag 'imprimir_pequeno.png'), '/mettings/'+metting.id.to_s+'.pdf' , target: '_blank'%></td>
        <td><%= link_to (image_tag 'editar_1.png'), edit_metting_path(metting) %></td>
        <td><%= link_to (image_tag 'eliminar_1.png'), metting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>

<hr class="linea">

<script type="text/javascript" >
  $(document).ready(function(){
    $('#buscar').dataTable({
      "paging":   false,
        "info":     false
    });
  });
</script>