<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_for @user, url: users_update_path(@user), html: { method: :put } do |f| %>
	<div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    </div>
  <div class="field">
    <%= f.label :cargo %>
    <%= f.text_field :cargo %>
   </div>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
   </div>
  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
    </div>
  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
    </div>
  <div class="field">
    <%= f.label :empresa_id %>
    <%= f.text_field :empresa_id %>
    </div>
  <div class="field">
    <%= f.label :rol %>
    <%= f.text_field :rol %>
    </div>
  <div class="field">
    <%= f.label 'Clave' %>
    <%= f.text_field :password %>
    </div>
  <div class="field">
    <%= f.label 'Confirmar Clave' %>
    <%= f.text_field :password_confirmation %>
    </div>
  <div class="field">
    <%= f.label 'Usuario' %>
    <%= f.text_field :username %>
    </div>
  <div class="actions">
    <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', '/users/index' %>