<%= form_for(@compromise) do |f| %>
  <% if @compromise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compromise.errors.count, "error") %> prohibited this compromise from being saved:</h2>

      <ul>
      <% @compromise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_inicial %><br>
    <%= f.date_select :fecha_inicial ,{ start_year: Date.current.year,end_year: Date.current.year+10, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']}%>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
  <div class="field">
    <%= f.label :fecha_limite %><br>
    <%= f.date_select :fecha_limite ,{ start_year: Date.current.year,end_year: Date.current.year+10, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']}%>
  </div>
  <div class="field">
    <%= f.label :compromisos %><br>
    <%= f.text_field :compromisos %>
  </div>
  <div class="field">
    <%= f.label :stakeholder_id %><br>
    <%= collection_select(:compromise, :stakeholder_id, current_user.empresa.stakeholders.all.uniq!, :id, :nombre_completo,{prompt: 'Seleciona el stakeholder'} , required: '')%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
