<div class="row">
  <div class="large-6 column">
    <h2 class="azul">
      COMPROMISOS
    </h2>      
  </div>
  <div class="large-6 column text-right">
    <%= link_to (image_tag 'crear_nuevo2.png'), new_compromise_path %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to (image_tag 'imprimir2.png'), '/compromises.pdf' , target: '_blank'%>
    
  </div>

  <hr class="linea">

</div>

<div class="row">
  <div class="large-12 column">
    <table id="buscar" cellspacing="0" width="100%">
      <thead class="head-tabla">
        <tr>
          <th>Fecha inicial</th>
          <th>Correo</th>
          <th>Fecha limite</th>
          <th>Compromisos</th>
          <th>Stakeholder</th>
          <th>PDF</th>
          <th>EDIT</th>
          <th>Elimniar</th>
        </tr>
      </thead>

      <tbody>
        <% @compromises.each do |compromise| %>
          <tr>
            <td><%= compromise.fecha_inicial %></td>
            <td><%= compromise.correo %></td>
            <td><%= compromise.fecha_limite %></td>
            <td><%= compromise.compromisos %></td>
            <td><%= compromise.stakeholder.nombre %></td>
            <td><%= link_to (image_tag 'imprimir_pequeno.png'), '/compromises/'+compromise.id.to_s+'.pdf', target: '_blank' %></td>
            <td><%= link_to (image_tag 'editar_1.png'), edit_compromise_path(compromise) %></td>
            <td><%= link_to (image_tag 'eliminar_1.png'), compromise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
<br>
<br>

<hr class="linea">


<script type="text/javascript" >
  $(document).ready(function(){
    $('#buscar').dataTable({
      "paging":   false,
        "info":     false
    });
  });
</script>




