<h1>Listing compromises</h1>

<table>
  <thead>
    <tr>
      <th>Fecha inicial</th>
      <th>Correo</th>
      <th>Fecha limite</th>
      <th>Compromisos</th>
      <th>Stakeholder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compromises.each do |compromise| %>
      <tr>
        <td><%= compromise.fecha_inicial %></td>
        <td><%= compromise.correo %></td>
        <td><%= compromise.fecha_limite %></td>
        <td><%= compromise.compromisos %></td>
        <td><%= compromise.stakeholder.nombre %></td>
        <td><%= link_to 'pdf', '/compromises/'+compromise.id.to_s+'.pdf', target: '_blank' %></td>
        <td><%= link_to 'Edit', edit_compromise_path(compromise) %></td>
        <td><%= link_to 'Destroy', compromise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compromise', new_compromise_path %>
<br>
<%= link_to 'Pdf', '/compromises.pdf' , target: '_blank'%>
