= form_for(@stakeholder, url: { action: 'guardarinfluencia' })  do |f| 
	-if @stakeholder.errors.any? 
		#error_explanation
			%h2
				= pluralize(@stakeholder.errors.count, "error")
				prohibited this stakeholder from being saved:
		- @stakeholder.errors.full_messages.each do |message|		
			%li
				= message

	.row
		.large-4.small-12.columns#influencia-contenedor
			= f.label :influencia
			- Influence.all.each do |influ|
				.row
					%div{ class: ['large-12','influence-stakeholder','columns','imageChecked','text-center', (@stakeholder.influences.include?(influ) ? "botonIdentificacionChecked" : "botonIdentificacionUnchecked") ], :"data-id" => influ.id}
						%h5.blanco
							= influ.nombre
				.row.hide
					= check_box_tag("influences[#{influ.id}]",1,@stakeholder.influences.include?(influ), class: 'influencecb-'+influ.id.to_s)
			
		.large-4.columns

		.large-4.small-12.columns#relevancia
			= f.label :relevancia
			- Relevance.all.each do |rele|
				.row
					%div{ class: ['large-12','relevancia-stakeholder','columns','imageChecked','text-center', (@stakeholder.relevances.include?(rele) ? "botonIdentificacionChecked" : "botonIdentificacionUnchecked") ], :"data-id" => rele.id}
						%h5.blanco
							= rele.nombre
				.row.hide
					= check_box_tag("relevances[#{rele.id}]",1,@stakeholder.relevances.include?(rele), class: 'relevancecb-'+rele.id.to_s)
	
	%br
	%br
	%br
	%br

	.row
		.row
			.large-4.small-4.columns.titulo.text-center
				%h5.blanco
					NECESIDADES DE LOGRO
			.large-4.small-4.columns.titulo.text-center			
				%h5.blanco	
					NECESIDADES DE PODER
			.large-4.small-4.columns.titulo.text-center
				%h5.blanco
					NECESIDADES DE AFILIACIÓN
		.row
			.large-4.small-4.columns.necesidades
				= f.text_field :necesidades_logro, class: 'text_field_nec text-center'
			.large-4.small-4.columns.necesidades
				= f.text_field :necesidades_poder, class: 'text_field_nec text-center'
			.large-4.small-4.columns.necesidades
				= f.text_field :necesidades_afiliacion, class: 'text_field_nec text-center'



	= f.hidden_field :influencia, value:'a' #value: @stakeholder.influencia
	= f.hidden_field :relevancia, value:'a' #value: @stakeholder.relevancia
	.row
		.large-12.columns.text-center
			= f.submit 'Siguiente', class: 'button verde-bg'