<div class="row">
  <div class="large-6 column">
    <h2 class="azul">
      STAKEHOLDERS
    </h2>      
  </div>
  <div class="large-6 column text-right">
    <%= link_to (image_tag 'crear_nuevo2.png'), new_stakeholder_path %>
    
  </div>
</div>
<hr class="linea">

<table id="buscar" class="responsive display stake" cellspacing="0" width="100%">
  <thead class="head-tabla">
    <tr>
      <th> Imagen</th>
      <th class="hidden-movil-medium hidden-movil-small">Nombre</th>
      <th class="hidden-movil-medium hidden-movil-small">Apellido</th>
      <th class="hidden-large">Nombre</th>
      <th class="hidden-movil-small">Entidad</th>
      <th class="hidden-movil-medium hidden-movil-small">Cargo</th>
      <th class="hidden-movil-small">Tipo de entidad</th>
      <th class="hidden-movil-medium hidden-movil-small">Pais</th>
      <th class="hidden-movil-medium hidden-movil-small">Impacto</th>
      <th id="stakeholderpdf">PDF</th>
      <th id="stakeholdereditar">Editar</th>
      <th id="stakeholdereliminar">Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= image_tag stakeholder.imagen_url , class: 'imagen' %></td>
        <td class="hidden-movil-medium hidden-movil-small"><%= stakeholder.nombre %></td>
        <td class="hidden-movil-medium hidden-movil-small"><%= stakeholder.apellido %></td>
        <td class="hidden-large"><%= stakeholder.nombre+" "+stakeholder.apellido %></td>
        <td class="hidden-movil-small"><%= stakeholder.entidad %></td>
        <td class="hidden-movil-medium hidden-movil-small"><%= stakeholder.cargo %></td>
        <td class="hidden-movil-small"><%= stakeholder.entity ? stakeholder.entity.nombre : ''  %></td>
        <td class="hidden-movil-medium hidden-movil-small"><%= stakeholder.pais %></td>
        <td class="hidden-movil-medium hidden-movil-small "><%= stakeholder.impacto %></td>
        <td><%= link_to (image_tag 'imprimir_pequeno.png'), '/stakeholders/'+stakeholder.id.to_s+'.pdf' , target: "_blank" %></td>
        <td><%= link_to (image_tag 'editar_1.png'), edit_stakeholder_path(stakeholder) %></td>
        <td><%= link_to (image_tag 'eliminar_1.png'), stakeholder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>

<hr class="linea">


<script type="text/javascript" >
  $(document).ready(function(){
    $('#buscar').dataTable({
      "paging":   false,
      "info":     false,
    });
  });
</script>