<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @stakeholder.imagen %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @stakeholder.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @stakeholder.apellido %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @stakeholder.empresa %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @stakeholder.cargo %>
</p>

<p>
  <strong>Movimiento politico:</strong>
  <%= @stakeholder.movimiento_politico %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @stakeholder.pais %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @stakeholder.departamento %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @stakeholder.ciudad %>
</p>

<p>
  <strong>Impacto:</strong>
  <%= @stakeholder.impacto %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @stakeholder.perfil %>
</p>

<p>
  <strong>Disposicion:</strong>
  <%= @stakeholder.disposicion %>
</p>

<p>
  <strong>Expectativas:</strong>
  <%= @stakeholder.expectativas %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @stakeholder.dimension %>
</p>

<p>
  <strong>Dependencia:</strong>
  <%= @stakeholder.dependencia %>
</p>

<p>
  <strong>Necesidades logro:</strong>
  <%= @stakeholder.necesidades_logro %>
</p>

<p>
  <strong>Necesidades poder:</strong>
  <%= @stakeholder.necesidades_poder %>
</p>

<p>
  <strong>Necesidades afiliacion:</strong>
  <%= @stakeholder.necesidades_afiliacion %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @stakeholder.empresa_id %>
</p>

<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
