.sticky
	= render 'layouts/menu_superior'
.main_image#main
	.row
		.large-6.small-12.column
			%h1.blanco.bold
				STAKEHOLDER MANAGEMENT SYSTEM –SMS- 
			%h3.blanco
				El SMS es una Plataforma, cuyo propósito es el de permitir a sus usuarios documentar, de forma sistematizada, la información sobre sus Stakeholders y el entorno en el que se desenvuelven
			.row.show-for-small-only
				.large-12.column.text-center
					%br
					= link_to 'INGRESO DE USUARIOS', new_user_session_path , class: 'button verde-bg'
		.large-6.small-6.column.hide-for-small-only
			.row
				.large-12.column.text-center
					= image_tag 'logo-AB-inicio.png'
			%br
			%br
			%br
			%br
			.row
				.large-12.column.text-center
					= link_to 'INGRESO DE USUARIOS', new_user_session_path , class: 'button verde-bg'

.contenedor#quienessomos
	.row
		.large-6.column
			%h2.verde.text-center.title-quienes.bold
				¿QUIÉNES SOMOS?
		.large-6.column
			%p.gris.texto-quienes
				Somos una compañía especializada en la
				formulación, ejecución, seguimiento y evaluación de 
				estrategias integrales, que permiten la gestión de 
				proyectos de inversión. El conocimiento del entorno, 
				nos permite crear las sinergias necesarias entre el 
				sector público y privado y un diálogo permanente 
				con las comunidades; generando las mejores 
				estrategias para nuestros clientes y mejores 
				prácticas empresariales.
			%br
			%p.gris.texto-quienes
				La firma está enfocada en empresas del sector 
				privado, instituciones financieras y Organizaciones 
				No Gubernamentales. Adicionalmente, entidades 
				del sector público del nivel Municipal, 
				Departamental y Nacional.
.servicios#servicios
	.row
		.large-12.column.title-servicios
			%h2.blanco.text-center.bold
				NUESTROS SERVICIOS
	.row
		.large-3.column.text-center
			=  image_tag 'icono_1_nuestros-servicios.png'
			%br
			%br
			%p.blanco
				Fortalecimiento de 
				políticas públicas: 
				municipales, 
				departamentales y 
				nacionales
		.large-3.column.text-center
			=  image_tag 'icono_2_nuestros-servicios.png'
			%br
			%br
			%p.blanco
				Priorización y 
				focalización en 
				inversión y 
				responsabilidad 
				social		
		.large-3.column.text-center
			=  image_tag 'icono_3_nuestros-servicios.png'
			%br
			%br
			%p.blanco
				Gestión, 
				identificación 
				y relacionamiento 
		.large-3.column.text-center
			=  image_tag 'icono_4_nuestros-servicios.png'
			%br
			%br
			%p.blanco#experiencia
				Implementación
				del stakeholder 
				management system (sms)
.contenedor
	.row
		.large-12.column
			%h2.verde.text-center.bold
				NUESTRA EXPERIENCIA
	.row
		.large-12.column
			%p.text-center.gris-oscuro
				Contamos con experiencia en diversos 
				%br
				sectores, entre los cuales se encuentran:
	%br
	%br
	%br
	.row
		.large-3.column.text-center
			= image_tag 'icono_1_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_2_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_3_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_4_nuestraexperiencia.png'
	%br
	%br
	%br
	.row
		.large-3.column.text-center
			= image_tag 'icono_5_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_6_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_7_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_8_nuestraexperiencia.png'




.large-6.column.gris-claro-bg.contenedor-especial#equipo
	.row
		.large-6.hide-for-small-only.column
		.large-6.small-12.column
			%p.text-justify.gris.texto-quienes.text-equipo
				La firma cuenta con un grupo de consultores 
				interdisciplinarios en campos como: Ciencias 
				Políticas, Gobierno y Relaciones 
				Internacionales, Derecho, Economía, 
				Contaduría Pública, Ingeniería Industrial, 
				Ingeniería Ambiental, Antropología; entre 
				otras. Nuestra experiencia garantiza el éxito en 
				las consultorías que realizamos.

.large-6.column.gris-oscuro-bg.contenedor-especial
	.row
		.large-6.small-12.column
			%h2.verde.text-center.bold.title-equipo
				EQUIPO
		.large-6.hide-for-small-only.column

.servicios.clearfix
	.row#gerente
		.large-6.column
			%h2.blanco.text-left.title-quienes.bold
				MARCELA BEJARANO FERNÁNDEZ
			%h4.blanco.text-left
				GERENTE					
		.large-6.column
			%p.blanco.texto-quienes.texto-gerente
				Cuenta con una amplia experiencia en el sector 
				público, se desempeñó como analista de medios de 
				comunicación, en la Dirección de Seguimiento y 
				Análisis Estratégico de la Secretaría de Gobierno 
				D.C, posteriormente hizo parte del Grupo 
				programático de la Campaña del Presidente Juan 
				Manuel Santos Calderón, en el área de Investigación 
				en materia económica, política y social de estos 
				sectores: Minería, Regalías, Medio Ambiente, 
				Financiero y vivienda. Se desempeñó como 
				Secretaria Privada del Ministro de Transporte 
				durante el periodo del 2010 al 2011 y 
				posteriormente fue Secretaria Privada del Ministro 
				de Hacienda y Crédito Público; Desde el año 2013, se ha 
				desempeñado como consultora para la compañía de 
				infraestructura brasileña Constructora Norberto 
				Odebrecht, la Federación Nacional de 
				Departamentos y la Cervecería Bavaria S.A.

.footer
	.row
		.large-3.column.text-center
			%a{:href => "/"}
				AB 
				%br
				CONSULTORES
		.large-3.column.text-center
			%a{:href => "/"}
				TERMINOS Y 
				%br
				CONDICIONES
		.large-3.column.text-center
			%a{:href => "/"}
				POLÍTICAS DE
				%br
				SEGURIDAD
		.large-3.column.text-center
			%a{:href => "/"}
				CONTACTO
				info@stakeholdersms.com.co

.footer-cmc
	.row
		.large-12.column.text-center
			= image_tag 'cmc_1.png'