.sticky
	= render 'layouts/menu_superior'
.main_image#main
	.row
		.large-6.small-12.column
			%h1.blanco.bold
				STAKEHOLDER MANAGEMENT SYSTEM –SMS- 
			%h3.blanco
				El SMS es una Plataforma, cuyo propósito es el de permitir a sus usuarios documentar, de forma sistematizada, la información sobre sus Stakeholders y el entorno en el que se desenvuelven
			.row.show-for-small-only
				.large-12.column.text-center
					%br
					= link_to 'INGRESO DE USUARIOS', new_user_session_path , class: 'button verde-bg'
		.large-6.small-6.column.hide-for-small-only
			.row
				.large-12.column.text-center
					= image_tag 'logo-AB-inicio.png'
			%br
			%br
			%br
			%br
			.row
				.large-12.column.text-center
					= link_to 'INGRESO DE USUARIOS', new_user_session_path , class: 'button verde-bg'

.contenedor#quienessomos
	.row
		.large-6.column
			%h2.verde.text-center.title-quienes.bold
				¿QUIÉNES SOMOS?
		.large-6.column
			%p.gris.texto-quienes
				Somos una compañía especializada en la
				formulación, ejecución, seguimiento y evaluación de 
				estrategias integrales, que permiten la gestión de 
				proyectos de inversión. El conocimiento del entorno, 
				nos permite crear las sinergias necesarias entre el 
				sector público y privado y un diálogo permanente 
				con las comunidades; generando las mejores 
				estrategias para nuestros clientes y mejores 
				prácticas empresariales.
			%br
			%p.gris.texto-quienes
				La firma está enfocada en empresas del sector 
				privado, instituciones financieras y Organizaciones 
				No Gubernamentales. Adicionalmente, entidades 
				del sector público del nivel Municipal, 
				Departamental y Nacional.
.servicios#servicios
	.row
		.large-12.column.title-servicios
			%h2.blanco.text-center.bold
				NUESTROS SERVICIOS
	.row
		.large-3.column.text-center
			=  image_tag 'icono_1_nuestros-servicios.png'
			%br
			%br
			%p.blanco
				%b
					Fortalecimiento de 
					políticas públicas: 
					municipales, 
					departamentales y 
					nacionales
		.large-3.column.text-center
			=  image_tag 'icono_2_nuestros-servicios.png'
			%br
			%br
			%p.blanco
				%b
					Priorización y 
					focalización en 
					inversión y 
					responsabilidad 
					social		
		.large-3.column.text-center
			=  image_tag 'icono_3_nuestros-servicios.png'
			%br
			%br
			%p.blanco
				%b
					Gestión, 
					identificación 
					y relacionamiento 
		.large-3.column.text-center
			=  image_tag 'icono_4_nuestros-servicios.png'
			%br
			%br
			%p.blanco#experiencia
				%b
					Implementación
					del stakeholder 
					management system (sms)

	-# .row
	-# 	.large-3.column.text-center
	-# 		%p.blanco.small
	-# 			Formulación, implementación, seguimiento y evaluación de poĺíticas públicas a nivel Nacional y Departamental
	-# 			%br
	-# 			%br
	-# 			Diseño de estrategias participativas a nivel territorial y nacional
	-# 			%br
	-# 			%br
	-# 			Formulación de proyectos de inversión
	-# 	.large-3.column.text-center
	-# 		%p.blanco.small
	-# 			Definición de estrategias y enlace de programas, planes y proyectos para generar crecimiento económico, beneficios sociales y prosperidad social                 
	-# 			%br
	-# 			%br
	-# 			Formulación, implementación, seguimiento y evaluación de Programas en Beneficio de las Comunidades
	-# 			%br
	-# 			%br
	-# 			Articulación de inversiones sociales privadas y públicas
	-# 			%br
	-# 			%br
	-# 			Caracterización de beneficios económicos de la inversión
	-# 	.large-3.column.text-center
	-# 		%p.blanco.small
	-# 			Definición de estrategias y relacionamiento con los stakeholders relevantes.
	-# 			%br
	-# 			%br
	-# 			Seguimiento Legislativo y normativo
	-# 	.large-3.column.text-center
	-# 		%p.blanco.small
	-# 			El SMS es una Plataforma, cuyo propósito es el de permitir a sus usuarios documentar, de forma
	-# 			sistematizada la información sobre sus Stakeholders y el entorno donde estos se desenvuelven. 
	-# 			%br
	-# 			Cuenta con acceso a través de internet, lo que le permite al usuario acceder desde cualquier parte y en cualquier momento. 
	-# 			%br
	-# 			El sistema de seguridad SSL (Secure Sockets Layer) garantiza la confidencialidad y seguridad 
	-# 			de la información. Cuenta con procesos de actualización automáticos, generación de reportes 8/5, desarrollo en Ruby On Rails versión 4.1 y base de datos SQlite version 3.8.2.
	-# 			%br
	-# 			%br
	-# 			El Stakeholder Management System le permitirá:
	-# 			%br
	-# 			Sistematizar la información.
	-# 			%br
	-# 			%br
	-# 			Gestionar con mayor celeridad los riesgos potenciales.
	-# 			%br
	-# 			%br
	-# 			Documentar toda la información referente a sus Stakeholders.
	-# 			%br
	-# 			%br
	-# 			Revisar en tiempo real la información.
	-# 			%br
	-# 			%br
	-# 			Documentar las reuniones y los compromisos adquiridos con sus Stakeholders.
	-# 			%br
	-# 			%br
	-# 			Generar informes que podrá imprimir o descargar en su computador, tablet o celular
	-# 			%br
	-# 			%br
	-# 			Personalizar la plataforma de acuerdo a sus necesidades
.contenedor
	.row
		.large-12.column
			%h2.verde.text-center.bold
				NUESTRA EXPERIENCIA
	.row
		.large-12.column
			%p.text-center.gris-oscuro
				Contamos con experiencia en diversos 
				%br
				sectores, entre los cuales se encuentran:
	%br
	%br
	%br
	.row
		.large-3.column.text-center
			= image_tag 'icono_1_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_2_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_3_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_4_nuestraexperiencia.png'
	%br
	%br
	%br
	.row
		.large-3.column.text-center
			= image_tag 'icono_5_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_6_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_7_nuestraexperiencia.png'
		.large-3.column.text-center
			= image_tag 'icono_8_nuestraexperiencia.png'




-# .large-6.column.gris-claro-bg.contenedor-especial#equipo
-# 	.row
-# 		.large-6.hide-for-small-only.column

.gris-oscuro-bg.contenedor-especial#equipo
	.row
		.large-6.small-12.column
			%p.text-justify.gris.texto-quienes.text-equipo
				La firma cuenta con un grupo de consultores 
				interdisciplinarios en campos como: Ciencias 
				Políticas, Gobierno y Relaciones 
				Internacionales, Derecho, Economía, 
				Contaduría Pública, Ingeniería Industrial, 
				Ingeniería Ambiental, Antropología; entre 
				otras. Nuestra experiencia garantiza el éxito en 
				las consultorías que realizamos.

		.large-6.small-12.column
			%h2.verde.text-center.bold.title-equipo
				EQUIPO

.servicios.clearfix
	.row#gerente
		.large-6.column
			%h2.blanco.text-left.title-quienes.bold
				MARCELA BEJARANO FERNÁNDEZ
			%h4.blanco.text-left
				GERENTE					
		.large-6.column
			%p.blanco.texto-quienes.texto-gerente
				Cuenta con una amplia experiencia en el sector 
				público, se desempeñó como analista de medios de 
				comunicación, en la Dirección de Seguimiento y 
				Análisis Estratégico de la Secretaría de Gobierno 
				D.C, posteriormente hizo parte del Grupo 
				programático de la Campaña del Presidente Juan 
				Manuel Santos Calderón, en el área de Investigación 
				en materia económica, política y social de estos 
				sectores: Minería, Regalías, Medio Ambiente, 
				Financiero y vivienda. Se desempeñó como 
				Secretaria Privada del Ministro de Transporte 
				durante el periodo del 2010 al 2011 y 
				posteriormente fue Secretaria Privada del Ministro 
				de Hacienda y Crédito Público; Desde el año 2013, se ha 
				desempeñado como consultora para la compañía de 
				infraestructura brasileña Constructora Norberto 
				Odebrecht, la Federación Nacional de 
				Departamentos y la Cervecería Bavaria S.A.

.footer
	.row
		.large-3.column.text-center
			%a{:href => "/"}
				AB 
				%br
				CONSULTORES
		.large-3.column.text-center
			%a{:href => "/"}
				TERMINOS Y 
				%br
				CONDICIONES
		.large-3.column.text-center
			%a{:href => "/"}
				POLÍTICAS DE
				%br
				SEGURIDAD
		.large-3.column.text-center
			%a{:href => "/"}
				CONTACTO
				info@stakeholdersms.com.co

.footer-cmc
	.row
		.large-12.column.text-center
			= image_tag 'cmc_1.png'