<%= form_for(@interest, html: {multipart: true}) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tema %><br>
    <%= f.text_field :tema %>
  </div>
  <div class="field">
    <%= f.label :informacion %><br>
    <%= f.text_field :informacion %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :stakeholder_id %><br>
    <%= f.text_field :stakeholder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
