<%= form_for(@interest, html: {multipart: true}) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="large-6 columns">
      <div class="field">
        <%= f.label :tema %><br>
        <%= f.text_field :tema %>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="field">
        <%= f.label :stakeholder_id %><br>
        <%= collection_select(:interest, :stakeholder_id, current_user.empresa.stakeholders.all.uniq!, :id, :nombre_completo,{prompt: 'Seleciona el stakeholder'} , required: '')%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <div class="titulo-editar text-center">
        <h5 class="blanco">Información de interés</h5>
      </div>
      <%= text_area( :interest , :informacion , size: "10x10") %>
    </div>
  </div>  

  <div class="row">
    <div class="large-12 columns">
      <div class="field">
        <%= f.label :imagen %><br>
        <%= f.file_field :imagen %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column text-center">
      <%= link_to 'Atras', interests_path ,class: 'button verde-bg'  %>
      &nbsp;
      <%= f.submit 'Guardar' , class: 'button verde-bg' %>  
    </div>
  </div>
<% end %>
