<div class="row">
  <div class="large-6 column">
    <h2 class="azul">
      TEMAS DE INTERÉS
    </h2>      
  </div>
  <div class="large-6 column text-right">
    <%= link_to (image_tag 'crear_nuevo2.png'), new_interest_path %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to (image_tag 'imprimir2.png'), '/interests.pdf' , target: '_blank'%>
    
  </div>
</div>
<hr class="linea">

<table id="buscar" cellspacing="0" width="100%">
  <thead class="head-tabla">
    <tr>
      <th>Tema</th>
      <th>Informacion</th>
      <th class="hidden-movil-small-inte">Stakeholder</th>
      <th class="hidden-movil-small-inte">Archivo</th>
      <th>PDF</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.tema %></td>
        <td><%= interest.informacion %></td>
        <td class="hidden-movil-small-inte"><%= interest.stakeholder.nombre %></td>
        <td class="hidden-movil-small-inte"><%= link_to 'Archivo', interest.imagen_url  %></td>
        <td><%= link_to (image_tag 'imprimir_pequeno.png'), '/interests/'+interest.id.to_s+'.pdf' , target: '_blank'%></td>
        <td><%= link_to (image_tag 'editar_1.png'), edit_interest_path(interest) %></td>
        <td><%= link_to (image_tag 'eliminar_1.png'), interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>

<hr class="linea">

<script type="text/javascript" >
  $(document).ready(function(){
    $('#buscar').dataTable({
      "paging":   false,
        "info":     false
    });
  });
</script>




