<div class="row">
  <div class="large-12 column">
    <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
      <div class="row">
        <div class="large-12 column">
          <%= f.label 'Contrase単a Actual' %> <i>(Necesitamos tu contrase単a actual para )</i><br />
          <%= f.password_field :current_password %>
        </div>
      </div> 
      <div class="row">
        <div class="large-12 column">
          <%= f.label :password, "Nueva Contrase単a" %><br />
          <%= f.password_field :password, :autocomplete => "off"  %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 column">
          <%= f.label 'Confirmacion de nueva contrase単a' %><br />
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 column text-center">
          <%= f.submit 'CAMBIAR', class: 'button verde-bg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>