%h1
	Lista de usuarios

%table
	%thead
		%tr
			%th
				Usuario
			%th
				Nombre
			%th
				Apellido
			%th
				Cargo
			%th
				Rol
			%th
				Ver
			%th
				Editar
			%th
				Borrar
	%tbody
		- @usuarios.each do |user|
			- if user != current_user
				%tr
					%td
						= user.username
					%td
						= user.nombre
					%td
						= user.apellido
					%td
						= user.cargo
					%td
						= user.rol
					%td
						= link_to (image_tag 'imprimir_pequeno.png'), '/usuarios/'+user.id.to_s+'.pdf' , target: '_blank'
					%td
						= link_to (image_tag 'editar_1.png'), usuarios_edit_path(user)
					%td
						= link_to (image_tag 'eliminar_1.png'), user.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }


= link_to (image_tag 'crear_nuevo2.png') , usuarios_new_path