<%= form_for(@empresa ,  html: { multipart: true } ) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_comercial %><br>
    <%= f.text_field :nombre_comercial %>
  </div>
  <div class="field">
    <%= f.label :razon_social %><br>
    <%= f.text_field :razon_social %>
  </div>
  <div class="field">
    <%= f.label :nit %><br>
    <%= f.text_field :nit %>
  </div>
  <div class="field">
    <%= f.label :representante_legal %><br>
    <%= f.text_field :representante_legal %>
  </div>
  <div class="field">
    <%= f.label :nombre_contacto %><br>
    <%= f.text_field :nombre_contacto %>
  </div>
  <div class="field">
    <%= f.label :email_contacto %><br>
    <%= f.text_field :email_contacto %>
  </div>
  <div class="field">
    <%= f.label :telefono_contacto %><br>
    <%= f.text_field :telefono_contacto %>
  </div>
  <div class="field">
    <%= f.label :direccion_contacto %><br>
    <%= f.text_field :direccion_contacto %>
  </div>
  <div class="field">
    <%= f.label :ciudad %><br>
    <%= f.text_field :ciudad %>
  </div>
  <div class="field">
    <%= f.label :pais %><br>
    <%= f.text_field :pais %>
  </div>
  <div class="field">
    <%= f.label :pagina_web %><br>
    <%= f.text_field :pagina_web %>
  </div>
  <div class="field">
    <%=  %><br>
    <%= image_tag @empresa.imagen_url, class: 'imagen' %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
