<%= form_for(@empresa ,  html: { multipart: true } ) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="large-4 columns">
    <input type="checkbox"> &nbsp;Habilitado<br>
      <% if @empresa.imagen_url %>
        <div class="roundLabel">
          <%= image_tag @empresa.imagen_url, class: 'imagen' %>  
        </div>
      <% else %>
        <div class="roundLabel">
          <%= image_tag 'seleccione_imagen.png' %>
          <%= f.label :imagen %><br>
          <%= f.file_field :imagen %>
        </div>
      <% end %> 
      
  </div>

  <div class="large-8 columns">
    <div class="large-5 columns">
      <%= f.label :nombre_comercial %>
    </div>
    <div class="large-7 columns fieldEmpresas">
      <%= f.text_field :nombre_comercial %>
    </div>

    <div class="large-5 columns">
      <%= f.label :razon_social %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :razon_social %>
    </div>

    <div class="large-5 columns">
      <%= f.label :nit %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :nit %>
    </div>

    <div class="large-5 columns">
      <%= f.label :representante_legal %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :representante_legal %>
    </div>

    <div class="large-5 columns">
      <%= f.label :nombre_contacto %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :nombre_contacto %>
    </div>

    <div class="large-5 columns">
      <%= f.label :email_contacto %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :email_contacto %>
    </div>

    <div class="large-5 columns">
      <%= f.label :telefono_contacto %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :telefono_contacto %>
    </div>

    <div class="large-5 columns">
      <%= f.label :direccion_contacto %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :direccion_contacto %>
    </div>

    <div class="large-5 columns">
      <%= f.label :ciudad %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :ciudad %>
    </div>

    <div class="large-5 columns">
      <%= f.label :pais %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :pais %>
    </div>

    <div class="large-5 columns">
      <%= f.label :pagina_web %>
    </div>
    <div class="large-7 columns fieldEmpresas">
       <%= f.text_field :pagina_web %>
    </div>

  </div>
</div>
<br>
<br>
<br>
  <div class="row">
    <div class="large-12 column text-center">
      <%= link_to 'Atras', empresas_path ,class: 'button verde-bg'  %>
      &nbsp;
      <%= f.submit 'Guardar' , class: 'button verde-bg' %>  
    </div>
  </div>
<% end %>