<div class="row">
  <div class="large-6 column">
    <h2 class="azul">
      EMPRESAS
    </h2>      
  </div>
  <div class="large-6 column text-right">
    <%= link_to (image_tag 'crear_nuevo2.png'), new_empresa_path %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to (image_tag 'imprimir2.png'), '/empresas.pdf' , target: '_blank'%>
    
  </div>
</div>
<hr class="linea">

<table id="buscar" cellspacing="0" width="100%">
  <thead class="head-tabla">
    <tr>
      <th>Imagen</th>
      <th>Nombre comercial</th>
      <th>Razon social</th>
      <th>Nit</th>
      <th>Representante legal</th>
      <th>Creado</th>
      <th>PDF</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= image_tag empresa.imagen_url , class: 'imagen' %></td>
        <td><%= empresa.nombre_comercial %></td>
        <td><%= empresa.razon_social %></td>
        <td><%= empresa.nit %></td>
        <td><%= empresa.representante_legal %></td>
        <td><%= empresa.created_at.to_s %></td>
        <td><%= link_to (image_tag 'imprimir_pequeno.png'), '/empresas/'+empresa.id.to_s+'.pdf' , target: "_blank" %></td>
        <td><%= link_to (image_tag 'editar_1.png'), edit_empresa_path(empresa) %></td>
        <td><%= link_to (image_tag 'eliminar_1.png'), empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>

<hr class="linea">

<script type="text/javascript" >
  $(document).ready(function(){
    $('#buscar').dataTable({
      "paging":   false,
        "info":     false
    });
  });
</script>