<h1>Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre comercial</th>
      <th>Razon social</th>
      <th>Nit</th>
      <th>Representante legal</th>
      <th>Creado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= image_tag empresa.imagen_url , class: 'imagen' %></td>
        <td><%= empresa.nombre_comercial %></td>
        <td><%= empresa.razon_social %></td>
        <td><%= empresa.nit %></td>
        <td><%= empresa.representante_legal %></td>
        <td><%= empresa.created_at.to_s %></td>
        <td><%= link_to 'Ver', '/empresas/'+empresa.id.to_s+'.pdf' , target: "_blank" %></td>
        <td><%= link_to 'Editar', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Eliminar', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (image_tag 'crear_nuevo2.png'), new_empresa_path %>
<br>
<%= link_to 'PDF' , '/empresas.pdf' , target: "_blank" %>
