<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @temasregulatorio.titulo %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @temasregulatorio.resumen %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @temasregulatorio.imagen %>
</p>

<p>
  <strong>Stakeholder:</strong>
  <%= @temasregulatorio.stakeholder_id %>
</p>

<%= link_to 'Edit', edit_temasregulatorio_path(@temasregulatorio) %> |
<%= link_to 'Back', temasregulatorios_path %>
